.icon {
  display: block;
  width: 24px;
  height: 24px;
}
body {
  margin: 0px;
  padding: 0px;
  border: white solid 1px;
}
.indexBox {
  background: #f8fafb;
  float: right;
  width: calc(100% - 151px);
}
.infoBox {
  width: 150px;
  float: left;
}
